* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    background: black;
    width: 100%;
}
div { 
    width: 100vw; 
    height: 30vh; 
    z-index: 4;
}
h1{
    display: flex; 
    position: fixed;
    margin-top: 45vh;
    margin-left: 45vw;
    color: rgb(254, 0, 0);
}
.image {
    background-image: url("https://cdn.sanity.io/images/uj4029y4/production/ee21b03e77e83c776cf661caa8a74fd629c2aaa4-3000x2000.jpg"), 
    url("https://cdn.sanity.io/images/uj4029y4/production/7314d1ead1292006172297c451d8f17c1956e9a3-3000x2000.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
.image2 {
    background-image: url("https://cdn.sanity.io/images/uj4029y4/production/7314d1ead1292006172297c451d8f17c1956e9a3-3000x2000.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20%;
    z-index: 2;
}